body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

#notification {
    font-size: 20px;
    margin-bottom: 20px;
}

#timer {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 20px;
}

#returnButton {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#returnButton:hover {
    background-color: #0056b3;
}
